.card {
    position: relative;
    margin-top: 80px;
    padding: 52px;
    background: #0d0d10;
    border: rgba(#fff, 0.1) solid 1px;
    border-radius: 20px;
    overflow: hidden;
}

.title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper {
    margin-top: 52px;
    width: 409px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 14px 20px;
    font-size: 18px;
}

.text {
    color: var(--subtext);
}

.img {
    position: absolute;
    top: -57px;
    right: -383px;
}
