.item {
    position: relative;
}

.link {
    display: block;
    transition: transform 0.3s;
    &:hover::before {
        cursor: pointer;
        opacity: 0.3;
    }
    &::before {
        content: '';
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 144px;
        background: var(--background);
        border-radius: 16px;
        z-index: 1;
        transition: opacity 0.3s;
    }
}

.img {
    border-radius: 16px;
    width: 256px;
    height: 144px;
}

.time {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 4px 8px;
    background: #0d0d10;
    border: rgba(#fff, 0.1) solid 1px;
    border-radius: 8px;
    z-index: 2;
}

.line {
    position: relative;
    width: 100%;
    height: 4px;
    background: var(--primary);
    background: var(--primary-gradient);
    border-radius: 100px;
    z-index: 100;
}

.title {
    margin-top: 8px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .img {
        width: 180px;
        height: auto;
    }
    .link {
        &::before {
            height: 101px;
        }
    }
}

@media (max-width: 425px) {
    .img {
        width: 107px;
        height: 61px;
    }
    .link {
        &::before {
            height: 61px;
        }
    }
}
