.info {
    margin-top: 337px;
}

.list {
    margin-top: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    font-size: 20px;
}

.rating {
    padding: 5px 8px;
    background: rgba(#fff, 0.1);
    border-radius: 8px;
}

.dot {
    width: 4px;
    height: 4px;
    background: rgba(#fff, 0.3);
    border-radius: 4px;
}

.wrapper {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.trailers {
    margin-top: 24px;
    display: flex;
    list-style: none;
    gap: 16px;
}

.item {
    position: relative;
    width: 256px;
    border-radius: 16px;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.03);
    }
    &:hover::before {
        cursor: pointer;
        opacity: 0.3;
    }
    &::before {
        z-index: 0;
        content: '';
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 144px;
        background: var(--background);
        border-radius: 16px;
        transition: opacity 0.3s;
    }
    &:first-child::before {
        opacity: 0.2;
    }
}

.line {
    width: 100%;
    height: 4px;
    background: var(--primary);
    background: var(--primary-gradient);
    border-radius: 100px;
    z-index: 100;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
