.section {
    margin-top: 337px;
}

.wrapper {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.trailers {
    margin-top: 24px;
    display: flex;
    list-style: none;
    gap: 16px;
    li:first-child::before {
        opacity: 0.2;
    }
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    height: 744px;
    z-index: -1;
}
