.section {
    margin-top: 337px;
}

.wrapper {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.trailers {
    margin-top: 24px;
    padding-bottom: 4px;
    display: flex;
    list-style: none;
    overflow-x: scroll;
    gap: 16px;
    li:first-child::before {
        opacity: 0.2;
    }
    &::-webkit-scrollbar {
        cursor: pointer;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(#fff, 0.2);
        border-radius: 3px;
    }
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 744px;
    z-index: -2;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 744px;
    z-index: -1;
}
