.wrapper {
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

.title {
    width: 250px;
    font-size: 28px;
    font-weight: 700;
    color: var(--primary);
    background-image: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.list {
    margin-top: 20px;
    list-style: none;
    overflow-x: scroll;
    display: flex;
    gap: 20px;
    &::-webkit-scrollbar {
        cursor: pointer;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(#fff, 0.2);
        border-radius: 3px;
    }
}

.item {
    position: relative;
    display: block;
    padding: 5px;
    border-radius: 20px;
    transition: transform 0.3s;

    &:last-child {
        .cover {
            margin-left: 233px;
        }
    }
}

.place {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 142px;
    z-index: -1;
}

.cover {
    margin-left: 100px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }
    .list {
        margin-top: 12px;
    }
    .item:last-child {
        .place {
            width: auto;
            height: 128px;
        }
        .cover {
            margin-left: 200px;
        }
    }
    .place {
        width: 110px;
        height: auto;
    }
    .cover {
        width: 230px;
        height: auto;
        margin-left: 94px;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 22px;
    }
    .item:last-child {
        .place {
            width: 98px;
            height: 57px;
        }
        .cover {
            margin-left: 97px;
        }
    }
    .place {
        width: 44px;
        height: 55px;
    }
    .cover {
        width: 180px;
        height: 270px;
        margin-left: 44px;
    }
}
