.wrapper {
    position: relative;
    height: 504px;
    margin-top: 80px;
    overflow: hidden;
}

.title {
    width: 250px;
    font-size: 28px;
    font-weight: 700;
    color: var(--primary);
    background-image: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.list {
    list-style: none;

    position: absolute;
    display: block;
    top: 55px;
    left: 0;
    width: 450px;
    height: 95vw;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-450px);
    transform-origin: right top;
    &::-webkit-scrollbar {
        display: none;
    }
}

.item {
    position: relative;
    display: block;
    padding: 5px;
    border-radius: 20px;
    transform: rotate(90deg);
    transition: transform 0.3s;

    &:last-child {
        .cover {
            margin-left: 233px;
        }
    }
}

.place {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 142px;
    z-index: -1;
}

.cover {
    margin-left: 100px;
    &:hover {
    }
}
