.container {
    position: relative;
}

.title {
    margin-top: 55px;
    font-size: 24px;
    font-weight: 500;
}

.list {
    margin: 0;
    padding-bottom: 4px;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    &::-webkit-scrollbar {
        cursor: pointer;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(#fff, 0.2);
        border-radius: 3px;
    }
}

.item {
    display: block;
}

.wrapper {
    position: relative;
    width: 280px;
    height: 425px;
    border-radius: 20px;
}

.rating {
    position: absolute;
    margin: 16px 0 0 16px;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--background);
    background: var(--primary);
    background: var(--primary-gradient);
    border-radius: 8px;
    z-index: 2;
}

.new {
    position: absolute;
    margin: 16px 0 0 64px;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(#fff, 0.3);
    z-index: 2;
    &::after {
        content: '';
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background);
        border-radius: 8px;
        z-index: -1;
    }
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.subtitle {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
}

.info {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 300;
    color: var(--subtext);
}
