.list {
    margin-top: 32px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    font-size: 24px;
    font-weight: 300;
}

.item {
    width: 394px;
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 1280px) {
    .list {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .list {
        font-size: 20px;
    }
    .item {
        img {
            width: 28px;
            height: 28px;
        }
    }
}

@media (max-width: 425px) {
    .list {
        margin-top: 24px;
        font-size: 16px;
    }
    .item {
        img {
            width: 20px;
            height: 20px;
        }
    }
}
